div.container-fluid {
    font-family: 'Kaushan Script', cursive;
}


h2.title {
    font-family: 'Kaushan Script', cursive;
    color: purple;
    text-align: center;
    font-size: 3vw !important;
    font-weight: 700;
    background-image: url('../../img/rainbow.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
    border: solid yellow;
    margin: 0px !important;
}

h2.titleBear {
    font-family: 'Kaushan Script', cursive;
    font-size: 2vw !important;
    font-weight: 700;
}

.side {
    background: #17B0A7;
    text-align: center;
}

.bear {
    background: #FF99D0;
    margin: 10px 0px;
}

button.btn {
    color: #17B0A7;
    background: yellow;
    font-size: 1.2vw;
    margin: 10px;
    border-radius: 20px;
}

.bear:first-child {
    margin-top: 0px;
}

.main {
    padding: 0px !important;
    background: rgb(255, 194, 64);
}

div.main {
    margin-top: 0;
    font-size: 1.6vw;
    color: white;
    padding: 30px 60px;
}

p {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.4vw;
    text-align: justify;

}

p.main-body {
    padding: 20px 10%;
}