img {
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
}

.navbar {
    background-color: #17B0A7;
    font-size: 2vw;
    font-family: 'Kaushan Script', cursive;
}
.navbar a, .navbar a:hover {
    padding: 0px 80px!important;
    color: white;
    text-decoration: underline;
}

h1.title {
    font-family: 'Kaushan Script', cursive;
    color: purple;
    text-align: center;
    font-size: 6vw!important;
    font-weight: 700;
    background-image: url('../../img/rainbow.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
    border: solid yellow;
    border-radius: 5px;
}

h2 {
    color: #17B0A7;
    text-align: center;
    font-size: 1vw;

}

h3 {
    text-align: center;
    font-size: 2vw;
    position: absolute;
    top: 85%;
    left: 15%;
    color: purple;
}

